@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";
@import "tw-animate-css";

@layer base {
    body {
        scroll-behavior: smooth;
    }
}

@custom-variant dark (&:is(.dark *));

@layer utilities {
    @keyframes toast-in {
        from {
            transform: translateY(2rem);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes toast-out {
        from {
            transform: translateY(0);
            opacity: 1;
        }
        to {
            transform: translateY(2rem);
            opacity: 0;
        }
    }

    .animate-toast {
        animation:
                toast-in 0.4s ease-out forwards,
                toast-out 0.4s ease-in forwards 5s;
    }

    select, ::picker(select) {
        appearance: base-select;

    }
    ::picker(select) {
        border: 0;
        margin: .4rem 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    }

    option {
        @apply bg-slate-950 text-white/80 hover:bg-slate-700;
    }
}